@model seg_1.Models.shop

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>shop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.shopkeeper.shopkeeper_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shopkeeper.shopkeeper_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shop_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shop_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shop_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shop_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shop_mobile_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shop_mobile_num)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.shop_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
