@model IEnumerable<seg_1.Models.batch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.medicine.medicine_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medicine_arrival_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medicine_expiry_date)
        </th>
        <th>
            @Html.Label("Days to Expire")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.medicine.medicine_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.medicine_arrival_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.medicine_expiry_date)
        </td>
        <td>
            
            @Html.DisplayName((item.medicine_expiry_date.Year-DateTime.Now.Year).ToString())
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.batch_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.batch_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.batch_id })
        </td>
    </tr>
}

</table>
