@model IEnumerable<seg_1.Models.distributor>

@{
    ViewBag.Title = "Index-Distributor";
}

<h2>Index-Distributor</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.distributor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distributor_password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distributor_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distribbutor_mobile_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distributor_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distributior_start_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.distributor_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distributor_password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distributor_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distribbutor_mobile_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distributor_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distributior_start_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.distributor_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.distributor_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.distributor_id })
        </td>
    </tr>
}

</table>
