@model IEnumerable<seg_1.Models.distribution>

@{
    ViewBag.Title = "Index Distribution";
}

<h2>Index Distribution</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.distributor.distributor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distribution_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distribution_address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.distributor.distributor_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distribution_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distribution_address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.distribution_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.distribution_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.distribution_id })
        </td>
    </tr>
}

</table>
