@model seg_1.Models.shopkeeper

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>shopkeeper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.shopkeeper_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shopkeeper_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shopkeeper_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shopkeeper_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shopkeeper_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shopkeeper_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shopkeeper_mobile_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shopkeeper_mobile_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shopeeper_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shopeeper_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shop_start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shop_start_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.shopkeeper_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
